:root{
  --palette-primary: #f15bb5;
  --palette-secondary: #fee440;
  --palette-tertiary: #00bbf9;
  --palette-quaternary: #00f5d4;
  --palette-background: #282c34;
  --palette-background-complementary: #343028;
  --palette-white: #edf6f9;
  --palette-purple: #9b5de5;
}
@font-face {
  font-family: 'SourceCodePro';
  src: local('SourceCodePro'),
   url('./fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}
p {
  margin-block-start: 0px; 
  margin-block-end: 0px;
}
.App {
  background-color: var(--palette-background);
  font-size: calc(4vmin);
  text-align: center;
  font-family: 'SourceCodePro';
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  padding: 2vh;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--palette-white);
}
.App-link {
  color: var(--palette-watergreen);
}
.margin-20{
  margin: 20px;
}
.translate-y{
  transform: translateY(-5vh);
}
.p-color-text-primary{
  color: var(--palette-primary);
}
.p-size{
  font-family: 'SourceCodePro';
  font-size: 24px;
}
.button-primary{
  padding: 1vw;
  background-color: var(--palette-primary);
  border-radius: 5px;
}
.button-primary-shorter{
  padding: 0.5vw 1vw;
  background-color: var(--palette-primary);
  border-radius: 5px;
}
.button-primary:hover {
  cursor: pointer
}
.justify-center-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.p-back{
  color: var(--palette-primary);
  justify-content: left;
  font-size: 36px;
}
.back-image{
  width: 35px;
  margin: 0 5px;
  fill: var(--palette-primary);
  transform: rotate(90deg) scale(0.7);
}
.back-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}
.back-button:hover{
  cursor: pointer;
}
.bordered-div{
  border-style: solid;
  border-width: 5px;
  border-color: var(--palette-secondary);
  border-radius: 5px;
}
.margin-div{
  margin: 10px 0px;
}
.dimention-svg{
  width: 600px;
  height: 600px;
}
.horizontal-elements{
  display: flex;
  flex-direction: row;
}
/* .dimention-svg{
  width: 1000px;
  height: 1000px;
}
@media print, screen and (max-height: 1200px) {
  .dimention-svg{
    width: 900px;
    height: 900px;
  }
}
@media print, screen and (max-height: 1100px) {
  .dimention-svg{
    width: 800px;
    height: 800px;
  }
}
@media print, screen and (max-height: 1000px) {
  .dimention-svg{
    width: 700px;
    height: 700px;
  }
}
@media print, screen and (max-height: 900px) {
  .dimention-svg{
    width: 600px;
    height: 600px;
  }
} */